/* utilities */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */

/* section {
    position: relative;
} */

#viewport-red {
    height: 100vh;
    background-color: red;
}

#viewport-green {
    height: 100vh;
    background-color: green;
}

#viewport-yellow {
    height: 100vh;
    background-color: yellow;
}

.content {
    height: 500px;
    width: 1000px;
    background-color: white;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#sneakers {
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Content */

