/* Generics */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Utilities */

#viewport-red {
    height: 100vh;
    background-color: red;
}

#viewport-green {
    height: 100vh;
    background-color: green;
}

#viewport-yellow {
    height: 100vh;
    background-color: yellow;
}

/* Content */

